name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install cargo-wdk
        run: cargo install cargo-wdk

      - name: Build
        run: cargo wdk build
